<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
            text-align: center;
        }

        .container-fluid {
            padding: 10px 10px;
        }

        .navbar {
            width: 100%;
            height: 50px;
            background-color: #5e4dab;
        }

        .navbar ul li {
            list-style: none;
        }

        .nav-li h4 {
            font-size: 20px;
            color: #fff;
            padding-top: 15px;
        }


        .btn {
            width: 20px;
            height: 25px;
            border-radius: 0.2rem;
        }
        .link {
            margin-top: 8px;
        }

        .link a {
            overflow: hidden;
            text-overflow: unset;
            display: -webkit-box;
            line-height: 16px;
            /* fallback */
            max-height: 32px;
            /* fallback */
            -webkit-line-clamp: 2;
            /* number of lines to show */
            -webkit-box-orient: vertical;
            padding-left: 100px;
            padding-right: 100px;
        }

        .message-reset-password {
            margin-top: 80px;
            margin-bottom: 60px;
        }

        .message-reset-password h5{
            padding-top: 15px;
        }

        .btn-click-reset {
            margin-top: 50px;
            margin-bottom: 20px;
        }

        .btn-reset {
            padding: 10px 20px;
            background-color: #5e4dab;
            color: #fff;
            text-decoration: none;
        }

        .user-mail {
            color: #5e4dab;
        }

        footer {
            width: 100%;
            height: 80px;
            background-color: #5e4dab;
        }

        .footer p {
            color: #fff;
            padding-top: 25px;
        }
    </style>
</head>

<body>

    <nav class="navbar">
        <ul>
            <li class="nav-li">
                <h4>NodeWeb</h4>
            </li>
        </ul>
    </nav>


    <div class="message-reset-password">
        <h3>
            Forgot Password
        </h3>
        <h5>Hey <span class="user-mail"><%= email %></span></h5>
        <br>
        <p>We have a request Forgot Password for your Account!.</p>
        <p> follow this below for action Reset Your Password</p>

        <div class="btn-click-reset">
            <a href="http://localhost:5000/resetpassword/<%=token%>?email=<%=email%>" class="btn btn-reset">Click</a>
        </div>


        <span>
            if the button doesn't work, follow the link below!
        </span>

        <div class="link">
            <a href="http://localhost:5000/resetpassword/<%=token%>?email=<%=email%>">
                http://localhost:5000/resetpassword/<%=token%>?email=<%=email%>
            </a>
        </div>
    </div>



    <footer>
        <div class="footer">
            <p>Copyright &copy;hfdzafrnsyh </p>
        </div>
    </footer>

</body>

</html>