 <!-- Page Heading -->
 <h1 class="h3 mb-4 text-gray-800">Data User</h1>

 
 <div class="table-role">


    <table class="table table-striped">
        <thead class="table-dark">
          <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Image</th>
            <th scope="col">Action</th>
           
          </tr>
        </thead>
        <tbody>

            <% dataUser.forEach((users,index) => { %>
                <tr>
                  <th scope="row"><%= index += 1 %></th>
                  <td><%= users.name %></td>
                  <td><%= users.email %></td>
                  <td><%= users.phone %></td>
                  <td>
                      <img src="http://localhost:5000/public/user/<%= users.photo %>" style="width:50px;height50px" alt="">
                  </td>
                  <td>
                      <a href="/user/<%= users.id %>/detail" class="btn btn-info btn-circle btn-sm"><i class="fas fa-info"></i></a>
                     
                  </td>
                </tr>
                <% }) %>
        
        </tbody>
      </table>

      <div class="pagination justify-content-center" id="dataTable_paginate">
        <ul class="pagination">
          <% for(let i=0; i<totalPages; i++){%>
            <li class="paginate_button page-item">
              <a href="/user/list?page=<%=i%>" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link"><%=i + 1%></a>
            </li>
            <% } %>
      </ul>
    </div>

 </div>


