 <!-- Page Heading -->
 <h1 class="h3 mb-4 text-gray-800">Role User</h1>

  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#exampleModal">
  Add Role User
</button>

 <div class="table-role">

  <% if(locals.message) { %>
    <strong class="text-danger"><%= message.error %> </strong>
    <strong class="text-success"><%= message.success %> </strong>
     <% } %>  

    <table class="table table-striped">
        <thead class="table-dark">
          <tr>
            <th scope="col">No</th>
            <th scope="col">Name User</th>
            <th scope="col">Name Role</th>
            <th scope="col">Action</th>
           
          </tr>
        </thead>
        <tbody>

            <% roleusers.forEach((roleuser,index) => { %>
                <tr>
                  <th scope="row"><%= index += 1 %></th>
                  <td><%= roleuser.users.name %></td>
                  <td><%= roleuser.roles.name %></td>
                  <td>
                      <a href="/roleuser/<%= roleuser.id %>/edit" class="btn btn-warning btn-circle btn-sm"><i class="fas fa-edit"></i></a>
                     
                  </td>
                </tr>
                <% }) %>
        
        </tbody>
      </table>

      <div class="pagination justify-content-center" id="dataTable_paginate">
        <ul class="pagination">
          <% for(let i=0; i<totalPages; i++){%>
            <li class="paginate_button page-item" id="page-item">
              <a href="/roleuser?page=<%=i%>" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link"><%=i+1%></a>
            </li>
            <% } %>
      </ul>
    </div>

 </div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Role User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form action="/roleuser/add" method="POST">
          <div class="form-group row">
            <label for="name" class="col-sm-2">User Id</label>
            <div class="col-sm-10">
              <input type="number" name="id_user" required class="form-control form-control-user">
            </div>
          </div>
      
        
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Role</label>

            <div class="input-group-prepend col-sm-10">
                <select class="custom-select" id="inputGroupSelect01" name="id_role" required>
                    <% roles.forEach( (role , index) => { %>
                    <option value="<%= role.id %>"><%= role.name %></option>
                    <% }) %>
                </select>
            </div>
        </div>

        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add</button>
        </div>

      </form>
      
      </div>
     
  </div>
</div>
</div>