 <!-- Page Heading -->
 <h1 class="h3 mb-4 text-gray-800">Data Product</h1>

      <!-- Button trigger modal -->
<button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#exampleModal">
  Add Product
</button>


 <div class="table-role">

  <% if(locals.message) { %>
    <strong class="text-danger"><%= message.error %> </strong>
    <strong class="text-success"><%= message.success %> </strong>
     <% } %>  



    <table class="table table-striped">
        <thead class="table-dark">
          <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Color</th>
            <th scope="col">Stock</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th scope="col">Image</th>
            <th scope="col">Action</th>
           
          </tr>
        </thead>
        <tbody>

            <% products.forEach((product,index) => { %>
                <tr>
                  <th scope="row"><%= index += 1 %></th>
                  <td><%= product.name %></td>
                  <td><%= product.color %></td>
                  <td><%= product.stock %></td>
                  <td><%= product.price %></td>
                  <td><%= product.categories.name %></td>
                  <td>
                      <img src="http://localhost:5000/public/upload/product/<%= product.image %>" style="width:50px;height50px" alt="">
                  </td>
                  <td>
                      <a href="/product/<%= product.id %>/edit" class="btn btn-warning btn-circle btn-sm"><i class="fas fa-edit"></i></a>
                      <form action="/product/<%= product.id %>" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger btn-circle btn-sm justify-content-end"><i class="fas fa-trash"></i></button>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                      </form>
                  </td>
                </tr>
                <% }) %>
        
        </tbody>
      </table>

      <div class="pagination justify-content-center" id="dataTable_paginate">
        <ul class="pagination">
          <% for(let i=0; i<totalPages; i++){%>
            <li class="paginate_button page-item" id="page-item">
              <a href="/product?page=<%=i%>" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link"><%=i+1%></a>
            </li>
            <% } %>
      </ul>
    </div>

 </div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/product/add?_csrf=<%= csrfToken %>" method="POST" enctype="multipart/form-data">
           
          <div class="form-group row">
              <label for="name" class="col-sm-2">Name</label>
              <div class="col-sm-10">
                <input type="text" name="name" required class="form-control form-control-user">
              </div>
            </div>
          <div class="form-group row">
              <label for="name" class="col-sm-2">Color</label>
              <div class="col-sm-10">
                <input type="text" name="color" required class="form-control form-control-user">
              </div>
            </div>
          <div class="form-group row">
              <label for="name" class="col-sm-2">Stock</label>
              <div class="col-sm-10">
                <input type="number" name="stock" required class="form-control form-control-user">
              </div>
            </div>
          <div class="form-group row">
              <label for="name" class="col-sm-2">Price</label>
              <div class="col-sm-10">
                <input type="text" name="price" required class="form-control form-control-user">
              </div>
            </div>
         
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Category</label>
  
              <div class="input-group-prepend col-sm-10">
                  <select class="custom-select" id="inputGroupSelect01" name="id_category" required>
                      <% categorys.forEach( (category , index) => { %>
                      <option value="<%= category.id %>"><%= category.name %></option>
                      <% }) %>
                  </select>
              </div>
          </div>
  

          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Image</label>
            
            <div class="col-sm-10">
                <input type="file"id="image" name="image"
                    class="form-control">
            </div>
    
          </div>
    
    

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>
    </div>
  </div>
</div>
</div>